<div class="col-md-6">
  <div class="mx-5 my-3">
    <div>
      <%= link_to :back, class:"fs-6 link-dark text-decoration-none" do %>
        <i class="bi bi-arrow-left"></i>
        Back
      <% end %>
    </div>
  </div>
</div>

<%= render 'form', comment: @comment, page: 'edit' %>