<div class="col-md-12"><!--Sets card width-->
  <div>
    <%= link_to :back, class:"fs-6 link-dark text-decoration-none" do %>
      <i class="bi bi-arrow-left"></i>
      Back
    <% end %>
  </div>
  <%= render 'post', post: @post %>
</div>
