<nav class="navbar sticky-top navbar-light bg-white border-bottom">
  <div class="container-fluid ms-4 align-items-center">
    <a class="navbar-brand mb-0 h1" style="color: #1877f2" href="/">metabook</a>
    <div class="d-flex align-items-center" id = "signup">
      <%= render 'users/user_bar' %>
    </div>
  </div>
</nav>
<% unless current_user %>
  <%= render 'users/log_in_modal' %>
  <%= render 'users/sign_up_modal', user: new_user %>
<% end %>