<nav class="navbar sticky-top navbar-light bg-white border-bottom">
  <div class="container-fluid ms-4 align-items-center">
    <a class="navbar-brand mb-0 h1" style="color: #1877f2" href="/">metabook</a>
    <div class="d-flex align-items-center" id = "signup">
      <%= render 'users/user_bar' %>
    </div>
  </div>
</nav>
<% unless current_user %>
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" id = "content_login">
        <%= render 'users/log_in_modal', user_session: new_session %>
      </div>
	  </div>
  </div>

  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
		  <div class="modal-content" id = "content_signup">
        <%= render 'users/sign_up_modal', user: new_user %>
  		</div>
	  </div>
  </div>
<% end %>